@charset "UTF-8";
/*!
global > color
------------------------------
*/
:root {
  --color-bg-primary: #fffcef;
  --color-bg-right-blue: #76c7c2;
  --color-bg-white: #ffffff;
  --color-font-white: #ffffff;
  --color-font-blue: #50a2d2;
  --color-font-dark-blue: #0079b0;
  --color-font-info-blue:#0398e2;
  --color-font-right-blue: #76c7c2;
  --color-font-grey: #5b5b5b;
  --color-underline-right-blue: #76c7c2;
}

/*!
global > content-width
------------------------------
*/
:root {
  --width-content-s: 1140px;
  --width-content: 1284px;
}

/*!
global > font
------------------------------
*/
:root {
  --font-family-base: "noto-sans-cjk-jp", sans-serif;
  --font-family-title: "Satisfy", serif;
}

/*!
global > z-index
------------------------------
*/
:root {
  --z-index-modal: 100;
  --z-index-header: 30;
  --z-index-menu: 10;
  --z-index-default: 1;
}

/*!
component > button
------------------------------
*/
.c-button {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0.2em;
  background-color: rgba(222, 222, 222, 0.3882352941);
  border: 1px solid #bab9b9;
}

.c-button.is-active::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.c-button.is-active + .c-button-body {
  display: block;
  z-index: 5;
}

.c-button-body {
  display: none;
  width: 175px;
  background: #f6f6f6;
  box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.149), 0 1px 2px 0 rgba(60, 64, 67, 0.302);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 85px;
  left: 0;
}

/*!
component > button
------------------------------
*/
.dropdown-list {
  margin: 0;
  padding: 0;
}

.dropdown-item {
  display: block;
  border-bottom: 1px solid #d0cccc;
}

.dropdown-item-link {
  display: block;
  padding: 1em 1.2em;
  font-size: 0.95em;
  text-decoration: none;
  color: #444;
}

.dropdown-item-link:hover {
  background: #fbfbfb;
}

/*!
component > title
------------------------------
*/
@media screen and (min-width: 1200px) {
  .c-box {
    width: 60%;
    padding-left: 20px;
  }
}

.c-title {
  color: var(--color-font-pink);
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
@media screen and (min-width: 1200px) {
  .c-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .c-text {
    text-align: left;
    padding-left: 20px;
  }
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

tbody {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.8;
  font-size: 16px;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
  background-color: var(--color-bg-primary);
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/*!
layout > container
------------------------------
*/
.l-container, .l-container-s {
  width: 95%;
  margin: 0 auto;
}

.l-container-s {
  max-width: var(--width-content-s);
}

/*!
layout > header
------------------------------
*/
.header {
  height: 100vh;
}
.mainvisual {
  height: 100vh;
  background-image: url(../img/bg_main_sp.jpg);
  background-image: image-set(url(../img/bg_main_sp.jpg) 1x, url(../img/bg_main_sp.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg_main_sp.jpg) 1x, url(../img/bg_main_sp.jpg) 2x);
  background-position: top;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .mainvisual {
    position: relative;
    width: 100%;
    background-image: none;
  }
}

.mainvisual img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .mainvisual img {
    display: block;
    width: 85%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .header-title {
    width: 10%; /* 全体幅に対するテキスト領域の割合 */
    display: flex;
    flex-direction: column;
    left: 5%;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  }
}

.header-title-container {
  position: relative;
  font-family: var(--font-family-title);
  letter-spacing: 0.2px;
  font-size: 40px;
  width: 100%;
  height: auto; /* テキスト1行あたりの高さ指定 */
}
@media screen and (min-width: 500px) {
  .header-title-container {
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header-title-container {
    font-size: 92px; /* テキストのフォントサイズ */
    width: 100%;
    height: 160px; /* テキスト1行あたりの高さ指定 */
  }
}

.header-title-background::before {
  color: var(--color-font-white);
}
@media screen and (min-width: 1200px) {
  .header-title-background::before {
    position: absolute;
    top: 0;
    left: 8%;
    z-index: 2;
    white-space: nowrap; /* テキストの改行禁止 */
  }
}
@media screen and (min-width: 1200px) {
  .header-title-background.title-background1::before {
    content: "Apple Hotel"; /* 重ねる対象のテキスト入力 */
  }
}

.header-title-main {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: var(--color-font-white);
}
@media screen and (min-width: 1200px) {
  .header-title-main {
    position: relative;
    z-index: 3;
    display: block;
    overflow: hidden; /* この指定ではみ出した元テキストを非表示化 */
  }
}

.header-title-inner {
  display: inline-block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .header-title-inner {
    position: absolute;
    top: 0;
    left: 8%;
    color: var(--color-font-blue); /* 重ならない部分のテキスト色 */
    white-space: nowrap; /* テキストの改行禁止 */
  }
}

.nav-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;
  font-size: 36px;
  color: var(--color-font-white);
}
.nav-menu::-webkit-scrollbar {
  display: none;
}
.nav-menu li:last-child {
  background-color: var(--color-bg-white);
  width: 100px;
  height: 100px;
}
.nav-menu li:last-child img {
  text-align: center;
  width: 25px;
}
@media screen and (min-width: 1200px) {
  .nav-menu {
    top: 0;
    left: 0;
    right: 0;
    text-align: inherit;
    transform: inherit;
    overflow-x: inherit;
    flex-direction: row;
    justify-content: right;
    margin-right: 80px;
    font-size: 20px;
  }
  .nav-menu li {
    padding: 30px 43px 0 0;
  }
  .nav-menu li:nth-child(6) {
    margin-left: 50px;
    padding-right: 30px;
  }
  .nav-menu li:last-child {
    padding-top: 26px;
    padding-right: 0;
    padding-left: 30px;
    background-color: var(--color-bg-white);
    width: 100px;
    height: 100px;
  }
  .nav-menu li:last-child img {
    text-align: center;
    width: 25px;
  }
}

.nav-mail-icon {
  margin: 20px auto 40px;
}
.nav-mail-icon svg {
  width: 44px;
}
@media screen and (min-width: 1200px) {
  .nav-mail-icon {
    margin: 0;
  }
  .nav-mail-icon a {
    display: flex;
  }
  .nav-mail-icon svg {
    width: 34px;
    margin-right: 16px;
  }
}

.nav-text {
  display: none;
}

.nav-calender-icon svg {
  width: 40px;
  margin: 25px auto;
}
@media screen and (min-width: 1200px) {
  .nav-calender-icon svg {
    width: 34px;
    margin: 0;
  }
}

.header-btn {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 100;
}
.header-btn span {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 44px;
  height: 4px;
  background-color: var(--color-font-white);
  transition: 0.5s;
}
.header-btn span:nth-child(1) {
  top: 18px;
}
.header-btn span:nth-child(2) {
  top: 28px;
  margin: auto;
}
.header-btn span:nth-child(3) {
  top: 38px;
}
@media screen and (min-width: 1200px) {
  .header-btn {
    display: none;
  }
}

.header-btn.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.header-btn.active span:nth-child(2) {
  opacity: 0;
}
.header-btn.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.header-nav {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-image: url(../img/bg_main_slide_sp.png);
  background-image: image-set(url(../img/bg_main_slide_sp.png) 1x, url(../img/bg_main_slide_sp.png) 2x);
  background-image: -webkit-image-set(url(../img/bg_main_slide_sp.png) 1x, url(../img/bg_main_slide_sp.png) 2x);
  background-position: top;
  background-size: cover;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.header-nav.active {
  opacity: 1;
  pointer-events: auto;
}
@media screen and (min-width: 1200px) {
  .header-nav {
    position: inherit;
    background-color: inherit;
    margin-top: 50px;
    margin-right: 100px;
    padding: 0;
    width: auto;
    opacity: 1;
    pointer-events: auto;
  }
}

/*!
layout > footer
------------------------------
*/
.footer {
  margin-top: 93px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding-left: 7.5%;
    padding-bottom: 93px;
  }
}

.footer-ul {
  display: flex;
  flex-direction: column;
  color: var(--color-font-dark-blue);
  align-items: center;
  gap: 30px;
  line-height: 1;
  font-size: 24px;
  margin-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .footer-ul {
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.copyright {
  font-size: 16px;
  text-align: center;
  color: var(--color-font-dark-blue);
}
@media screen and (min-width: 1200px) {
  .copyright {
    text-align: left;
  }
}

/*!
top > top-information
------------------------------
*/
.information {
  margin-top: 80px;
  padding-bottom: 80px;
  background-image: url(../img/bg_information_sp.jpg);
  background-image: image-set(url(../img/bg_information_sp.jpg) 1x, url(../img/bg_information_sp.jpg) 2x);
  background-image: -webkit-image-set(url(../img/bg_information_sp.jpg) 1x, url(../img/bg_information_sp.jpg) 2x);
  background-position: top;
  background-size: cover;
  position: relative;
  color: var(--color-font-white);
}
@media screen and (min-width: 1200px) {
  .information {
    margin-top: 0;
    padding-bottom: 0;
    background-image: url(../img/bg_blue.png);
    background-image: image-set(url(../img/bg_blue.png) 1x, url(../img/bg_blue.png) 2x);
    background-image: -webkit-image-set(url(../img/bg_blue.png) 1x, url(../img/bg_blue.png) 2x);
  }
}

.info-title {
  position: absolute;
  width: 100%; /* 全体幅に対するテキスト領域の割合 */
  display: flex;
  flex-direction: column;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
@media screen and (min-width: 1200px) {
  .info-title {
    top: -84px;
  }
}

.info-title-container {
  position: relative;
  font-family: var(--font-family-title);
  letter-spacing: 0.2px;
  font-size: 60px;
}
@media screen and (min-width: 1200px) {
  .info-title-container {
    font-size: 92px; /* テキストのフォントサイズ */
    width: 100%;
    height: 84px; /* テキスト1行あたりの高さ指定 */
  }
}

.info-title-background::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 2;
  color: var(--color-font-white); /* 重ねた部分の文字色となる */
  white-space: nowrap; /* テキストの改行禁止 */
}
.info-title-background.info-title-background1::before {
  content: "Information"; /* 重ねる対象のテキスト入力 */
}

.info-title-main {
  position: relative;
  z-index: 3;
  display: block;
  overflow: hidden; /* この指定ではみ出した元テキストを非表示化 */
  width: 100%;
  height: 56px;
}
@media screen and (min-width: 1200px) {
  .info-title-main {
    height: 100%;
  }
}

.info-title-inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  color: var(--color-font-info-blue); /* 重ならない部分のテキスト色 */
  white-space: nowrap; /* テキストの改行禁止 */
}

.information-flex {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .information-flex {
    flex-direction: row;
    margin: 0 auto 55px;
    padding-top: 0;
    width: 55%;
    padding-bottom: 103px;
  }
  .information-flex:nth-child(2) {
    padding-top: 103px;
    padding-bottom: 0;
  }
  .information-flex:nth-child(3) {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 90px;
  }
}

.information-daytime {
  max-width: 185px;
  font-family: var(--font-family-title);
  font-size: 18px;
  border-bottom: 4px solid;
}
@media screen and (min-width: 1200px) {
  .information-daytime {
    position: relative;
    padding-right: 20px;
    border-bottom: 0;
  }
  .information-daytime::after {
    content: "";
    position: absolute;
    top: 0;
    background-color: var(--color-bg-white);
    width: 4px;
    height: 146px;
    margin: 0 25px 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .information-box {
    padding-left: 25px;
  }
}

.information-title {
  font-size: 18px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .information-title {
    font-size: 20px;
    padding-bottom: 0;
  }
}

.information-text {
  font-size: 18px;
}

/*!
top > top-interior
------------------------------
*/
.sp-interior {
  margin: 34px auto;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .sp-interior {
    display: none;
  }
}

.sp-interior-left-title, .sp-interior-right-title {
  font-size: 48px;
  font-family: var(--font-family-title);
  color: var(--color-font-white);
  background-color: var(--color-bg-right-blue);
  height: 60px;
  text-align: center;
  line-height: 1.5;
}

.sp-interior-left, .sp-interior-right {
  margin-bottom: 28px;
}

.sp-interior-left-text, .sp-interior-right-text {
  line-height: 2.3;
  width: 95%;
  margin: 10px auto 0;
  color: var(--color-font-grey);
  background-color: var(--color-bg-primary);
  font-size: 14px;
}

.interior {
  display: none;
}
@media screen and (min-width: 1200px) {
  .interior {
    display: block;
    margin: 132px auto;
    height: 200vh;
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .interior-left-title, .interior-right-title {
    font-family: var(--font-family-title);
    color: var(--color-font-white);
    background-color: var(--color-bg-right-blue);
    font-size: 62px;
    height: 74px;
    padding-left: 40px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .interior-left, .interior-right {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 250px;
  }
  .interior-left img, .interior-right img {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .interior-left-container, .interior-right-container {
    position: absolute;
    top: 40%;
    left: 30%;
    max-width: 100%;
    z-index: 99;
  }
}

@media screen and (min-width: 1200px) {
  .interior-left-text, .interior-right-text {
    color: var(--color-font-grey);
    background-color: var(--color-bg-primary);
    width: 100%;
    padding: 20px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .interior-right img {
    position: absolute;
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .interior-right-container {
    position: absolute;
    width: 70%;
    left: 0;
    padding-top: 200px;
  }
}

/*!
top > top-recommend
------------------------------
*/
.recommend {
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .recommend {
    margin-top: 100px;
  }
}

.recommend-title {
  margin-left: 20%;
  width: 80%;
  color: var(--color-font-right-blue);
  font-family: var(--font-family-title);
  line-height: 0.75;
  font-size: 48px;
  border-bottom: 5px solid var(--color-underline-right-blue);
}
@media screen and (min-width: 1200px) {
  .recommend-title {
    text-align: left;
    margin-left: 65%;
    padding-top: 20px;
    color: var(--color-font-right-blue);
    font-family: var(--font-family-title);
    line-height: 0.75;
    font-size: 80px;
    border-bottom: 8px solid var(--color-underline-right-blue);
    display: inline-block;
    width: 35%;
  }
}

.recommend-flex {
  display: flex;
  flex-direction: column;
  margin: 25px 5% 0;
  position: relative;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .recommend-flex {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .recommend-left {
    width: 85%;
    margin-left: 11%;
    position: relative;
  }
  .recommend-left img {
    width: 100%;
    padding-bottom: 250px;
    margin-top: -100px;
  }
}

.left-banner-title01, .left-banner-title02 {
  position: absolute;
  bottom: 71.5%;
  left: 57%;
  z-index: 90;
  font-size: 24px;
  color: var(--color-font-dark-blue);
}
@media screen and (min-width: 1200px) {
  .left-banner-title01, .left-banner-title02 {
    width: 100%;
    top: -8%;
    left: 70%;
    color: var(--color-font-dark-blue);
    font-size: 52px;
  }
}

.dli-arrow-left01, .dli-arrow-left02 {
  position: absolute;
  top: 28%;
  right: -5%;
  width: 48%;
  height: 3px;
  border-radius: 9999px;
  background-color: #0079b0;
}
.dli-arrow-left01::before, .dli-arrow-left02::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  width: 20px;
  height: 3px;
  border-radius: 9999px;
  background-color: #0079b0;
  transform: rotate(48deg);
  transform-origin: calc(100% - 2px) 50%;
}
@media screen and (min-width: 1200px) {
  .dli-arrow-left01, .dli-arrow-left02 {
    position: relative;
    top: -82%;
    left: 70%;
    display: inline-block;
    width: 100%;
    height: 3px;
    border-radius: 9999px;
    background-color: #0079b0;
  }
  .dli-arrow-left01::before, .dli-arrow-left02::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 25px;
    height: 3px;
    border-radius: 9999px;
    background-color: #0079b0;
    transform: rotate(48deg);
    transform-origin: calc(100% - 2px) 50%;
  }
}

@media screen and (min-width: 1200px) {
  .recommend-right {
    width: 100%;
    position: relative;
    margin-left: 27%;
  }
  .recommend-right img {
    width: 90%;
    margin-top: 158px;
  }
}

.right-banner-title01, .right-banner-title02 {
  position: absolute;
  bottom: 15%;
  left: -5%;
  z-index: 90;
  font-size: 24px;
  color: var(--color-font-dark-blue);
}
@media screen and (min-width: 1200px) {
  .right-banner-title01, .right-banner-title02 {
    width: 100%;
    top: 50%;
    left: -52%;
    font-size: 52px;
  }
}

.dli-arrow-right01, .dli-arrow-right02 {
  position: absolute;
  bottom: 15%;
  left: -5%;
  width: 48%;
  height: 3px;
  border-radius: 9999px;
  background-color: #0079b0;
}
.dli-arrow-right01::before, .dli-arrow-right02::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  width: 20px;
  height: 3px;
  border-radius: 9999px;
  background-color: #0079b0;
  transform: rotate(48deg);
  transform-origin: calc(100% - 2px) 50%;
}
@media screen and (min-width: 1200px) {
  .dli-arrow-right01, .dli-arrow-right02 {
    position: relative;
    top: -29%;
    left: -52%;
    display: inline-block;
    width: 85%;
    height: 3px;
    border-radius: 9999px;
    background-color: #0079b0;
  }
  .dli-arrow-right01::before, .dli-arrow-right02::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 25px;
    height: 3px;
    border-radius: 9999px;
    background-color: #0079b0;
    transform: rotate(48deg);
    transform-origin: calc(100% - 2px) 50%;
  }
}

/*!
top > top-access
------------------------------
*/
.access {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .access {
    flex-direction: row;
  }
}

.access-left {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .access-left {
    width: 30%;
    margin-right: 100px;
    margin-left: 10%;
  }
}

.access-right {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .access-right {
    width: 70%;
  }
}

.access-logo {
  font-family: var(--font-family-title);
  color: var(--color-font-info-blue);
  font-size: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .access-logo {
    text-align: left;
  }
}

.access-text {
  line-height: 2.5;
  color: var(--color-font-dark-blue);
  margin-bottom: 17px;
}
@media screen and (min-width: 1200px) {
  .access-text {
    margin-bottom: 60px;
  }
}

.access-telephone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-bg-right-blue);
  color: var(--color-font-white);
  padding: 7px;
}
.access-telephone svg {
  width: 30px;
  margin-right: 17px;
}
.access-telephone p {
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  .access-telephone {
    padding: 35px;
  }
  .access-telephone svg {
    width: 34px;
    margin-right: 17px;
  }
  .access-telephone p {
    font-size: 29px;
  }
}

.access-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-font-right-blue);
  border: solid 1px var(--color-font-right-blue);
  margin-top: 12px;
  margin-bottom: 14px;
  padding: 7px;
}
.access-mail svg {
  width: 30px;
  margin-right: 17px;
}
.access-mail p {
  font-size: 24px;
}
@media screen and (min-width: 1200px) {
  .access-mail {
    margin-top: 26px;
    padding: 35px;
  }
  .access-mail svg {
    width: 34px;
    margin-right: 17px;
  }
  .access-mail p {
    font-size: 26px;
  }
}

.gmap_iframe {
  aspect-ratio: 16/9;
  max-width: 1000px;
  width: 100%;
  height: 345px;
}
@media screen and (min-width: 1200px) {
  .gmap_iframe {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */