/*!
global > color
------------------------------
*/
:root {
    --color-bg-primary: #fffcef;
    --color-bg-right-blue: #76c7c2;
    --color-bg-white: #ffffff;
    --color-font-white: #ffffff;
    --color-font-blue: #50a2d2;
    --color-font-dark-blue: #0079b0;
    --color-font-info-blue:#0398e2;
    --color-font-right-blue: #76c7c2;
    --color-font-grey: #5b5b5b;
    --color-underline-right-blue: #76c7c2;
}
